<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node_modules/moment/min/moment-with-locales.min.js"></script>
  <script src="node_modules/jquery-touchswipe/jquery.touchSwipe.min.js"></script>
  <script src="node_modules/arrobefr-jquery-calendar-bs4/dist/js/jquery-calendar.min.js"></script>
  <link rel="stylesheet" href="node_modules/arrobefr-jquery-calendar-bs4/dist/css/jquery-calendar.min.css">
  <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free-webfonts/css/fontawesome.css">
  <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-solid.css">
  <!-- <title>Calendar</title> -->
  </head>
  <body>
    <button id="logout" onclick="location.href='/login/out'">로그아웃</button>
    <button id="reserve" onclick="location.href='/reserve'">회의실 예약하기</button>
    <script>
      function drawCalendar(data){
          console.log('캘린더 불러오기 Calendar init');
          var calendar = $('#calendar').Calendar({
              locale: 'ko',
              defaultView : {
                largeScreen : 'month',
                smallScreen : 'month',
              },
              weekday: {
                /*시간*/
                timeline: {
                  intervalMinutes: 30,
                  fromHour: 9,
                  toHour: 18,
                  autoResize: true,
                },
                dayline : {
                  format : "dddd MM/DD",
                  month : {
                    format : "YYYY MMMM",
                    heightPx : 50,
                  }
                },
              },
              events: data,
            // daynotes: daynotes,
            }).init();
          }

      $(document).ready(function(){
        moment.locale('ko');
        var now = moment();
        /*예약 정보 받아오기 ajax*/
        $.ajax({
          url: '/reserve/calendar',
          type : 'get',          
          success: async function(res){ //async response           
            let rev = [];

            //async function: loop async function
            async function callAPI(data){
              console.log(data);
              for(d of data){
                await setData(d);
              }
            }

            //async function: setting data
            async function setData(d){
              let date = await moment(d.reserve_date).format('YYYY-MM-DD');              
              let start = await (moment(date+'T'+d.start_time).format());
              let end = await (moment(date+'T'+d.end_time).format());
              let room_no = d.room_no;
              let person = d.person_num;
              let member_id = d.member_id;
              /*association - 주입 => y_room 으로 불러오기*/
              let room_name = d.y_room.room_name;

              rev.push({
                start: moment(start).unix(), 
                end: moment(end).unix(),
                title: 1,
                content: '<p>예약자: '+member_id+'</p>'+'<p>인원: '+ person +'</p>'+'<p>회의실: '+ room_name +'</p>',
                category: member_id
              });
            }

            //await: call process
            await callAPI(res.data);

            console.log("예약정보!"+rev);

            drawCalendar(rev);
          
          }, 
          error : function (err) {
            console.log(err);
          }
        });

      });
    </script>
    <div class="container-fluid px-4">
      <div class="row">
        <div class="col-xs-12">
          <a href="/"><h1>Calendar</h1></a>
          <div id="calendar"></div>
        </div>
      </div>
    </div>
  </body>
  </html>
